/* 전체영역 마진패딩 제거 및 글꼴통합  ※ 검정#fff 하양 #333 글꼴 font-family: Arial, Helvetica, sans-serif; 통일  */
/* #taget id지정해서 설정가능 .taget으로 클래스 설정가능 */
*{
    margin: 0; padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: capitalize;
    text-decoration: none;
}


ul,li {list-style:none;}

#map{
    float: left;
    width: 85%;
    height: 100%; 
    display: inline-block;
}


#location_search{
    float: right;
    width: 15%;
    height: 100%;
    margin-top: 110px;
    border: 2px solid black;
}

#search_menu{
    font-size: 14px;
    margin-left: 8px;
}

nav{
    font-size: 20px;
}

.item{
    margin-top: 20px;
    margin-bottom: 8px;
    text-align: center;
}



input[type="checkbox"] {
    display: none;
  }

#input{
    width: 90%;
    height: 26px;
    
}

li #option:checked ~ .option_item{
    display: none;
    color: black;
}

.search_item{
    font-size: 12px;
    margin-left: 8px;
}

.search_item_sub{
    font-size: 10px;
    margin-left: 8px;
    line-height: 16px;
    color: gray;
}

.search_item_sub a{
    display: inline-block; width: 160px;
}




